<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/generated/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/generated/theme.css') }}" />
    </head>
    <body>

        {{ render(controller('CMSFrontendBundle:Menu:index')) }}


        {% block page_title %}{% endblock %}
        {% block body %}{% endblock %}

        <script src="{{ asset('js/generated/custom.modernizr.js') }}"></script>

        <script>
            document.write('<script src=' +
                    ('__proto__' in {} ? '{{ asset('js/generated/zepto') }}' : '{{ asset('js/generated/jquery') }}') +
                    '.js><\/script>')
        </script>
        <script src="{{ asset('js/generated/foundation.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.alerts.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.clearing.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.cookie.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.dropdown.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.forms.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.joyride.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.magellan.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.orbit.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.placeholder.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.reveal.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.section.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.tooltips.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.topbar.js') }}"></script>
        <script src="{{ asset('js/generated/foundation.interchange.js') }}"></script>
        <script>
            $(document).foundation();
        </script>

        <script type="text/javascript" src="{{ asset('vendors/requirejs/require.js') }}"
                data-main="{{ asset('main') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
